header {
	min-height: 500px; 
	background: #fdf3cf;

	.head-main {
		text-align: center;
		padding-top: 150px;
	}

	.head-nav {
		padding-top: 100px;
	}
}

@media only screen and (max-width: 768px) {
	.head-main {
		padding-top: 100px !important;
	}
}