title title
meta(name="description", content=page.description)
meta(name="apple-mobile-web-app-title", content=page.appTitle)
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='stylesheet' href='css/style.css')
script(src="https://use.fontawesome.com/185186fdcc.js")
