header
	div.container
		div.row
			div.col-xs-12.col-sm-9
				div.head-main
					h2 портфолио
					h1 Ярошук Сергей
			div.col-xs-offset-2.col-xs-8.col-sm-offset-0.col-sm-3
				div.head-nav
					include ../components/_navbar