extend layouts/_default

block vars 
	-	
		page = {
					language: 'ru',
					name: 'home',
					title: 'home-page',
					appTitle: 'home-page',
					description: 'Page description'
		}


block header
	include partials/_header

block main
	include pages/index/_main

block footer
	include partials/_footer

