section.sect.sect-about#about
	div.container
		div.row
			div.col-xs-offset-1.col-xs-10.col-sm-offset-3.col-sm-6.col-lg-offset-0.col-lg-4.col-lg-push-8
				img(src="assets/photo.jpg")
			div.col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-lg-offset-0.col-lg-8.col-lg-pull-4
				div.about-content
					h3 Кто я:
					ul
						li
							span Имя:
							|  Ярошук Сергей
						li 
							span Возраст:
							|  22 года
						li
							span Образование:
							|  Неоконченное высшее (6 курс)
						li
							span О себе:
							ul 
								li Опыт в веб-программировании более года
								li Отличное знание HTML, CSS
								li Уверенное знание JavaScript
								li Английский на уровне чтения тех. документации 
								li Быстро обучаемый
		div.row
			div.col-xs-12
				div.about-contacts
					ul
						li
							a(href="https://vk.com/invirix", style="color:#597da3")
								i.fa.fa-vk
								|  vkontakte
						li
							a(href="mailto:yaroshukmail@gmail.com", style="color:#c71610")
								i.fa.fa-envelope
								|  yaroshukmail@gmail.com
						li
							a(href="https://github.com/Yaroshuk", style="color:#000")
								i.fa.fa-github
								|  github					

section.sect.sect-stack#stack
	div.container
		div.row
			div.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-12
				div.sect-desc
					h3 Мой стек
					p В своей работе я использую следующие интсрументы:
		div.row
			div.stack-content
				div.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
					ul
						li
							span Препроцессор HTML:
							|  Pug(Jade)
						li
							span Препроцессор CSS:
							|  SASS(SCSS)
						li
							span Новый синтаксис JavaScript:
							|  ES6(ES2015)
						li
							span Сборщики проектов:
							|  Gulp, Webpack
						li
							span Библиотеки:
							|  Bootstrap, Bourbon(SASS), Jquery(JS)...
						li
							span Редактор кода:
							|  Sublime Text 3
				div.col-sm-6
					div.screen
						img(src="assets/sublime.png")

section.sect.sect-portfolio#portfolio
	div.container
		div.row
			div.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-12
				div.sect-desc
					h3 Проекты
					p Последние выполненные мной работы:
		div.row
			div.stack-content
				div.container
					div.row
						h4 Верстка:
						div.project-cont
							div.col-xs-6.col-sm-3
								div.project
									a(href="http://probaone.esy.es/pagesTwo/")
										img(src="assets/pages-1.png")
										div.project-name
											span Topapp tmp.
							div.col-xs-6.col-sm-3
								div.project
									a(href="http://probaone.esy.es/pagesOne/")
										img(src="assets/pages-2.png")
										div.project-name
											span Agency tmp.
					div.row
						h4 JavaScript:
						div.project-cont
							div.col-xs-6.col-sm-3
								div.project
									a(href="https://github.com/Yaroshuk/small_calendar")
										img(src="assets/js-1.png")
										div.project-name
											span Simple calculator.
							div.col-xs-6.col-sm-3
								div.project
									a(href="https://codepen.io/Yaroshuk/pen/rzOdZy")
										img(src="assets/js-2.png")
										div.project-name
											span Select Tools.
							div.col-xs-6.col-sm-3
								div.project
									a(href="https://codepen.io/Yaroshuk/pen/VzpNom")
										img(src="assets/js-3.png")
										div.project-name
											span Password Input.
					div.row
						h4 Разное:
						div.project-cont
							div.col-xs-6.col-sm-3
								div.project
									a(href="https://vk.com/app5525011_86945269")
										img(src="assets/other-1.png")
										div.project-name
											span Приложение-калькулятор: первод старых денег в новые.